name: Android Appium CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  appium-test:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Java 세팅
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      # 3. Android SDK 설치
      - name: Install Android SDK
        uses: android-actions/setup-android@v3

      # 4. 에뮬레이터 이미지 설치
      - name: Install emulator image
        run: |
          sdkmanager "system-images;android-30;google_apis;x86_64"

      # 5. AVD 생성
      - name: Create AVD
        run: |
          echo "no" | avdmanager create avd -n test -k "system-images;android-30;google_apis;x86_64"

      # 6. 에뮬레이터 실행
      - name: Start emulator
        run: |
          nohup emulator -avd test -no-snapshot -no-window -noaudio -gpu swiftshader_indirect &

      # 7. 에뮬레이터 준비 대기
        # 에뮬레이터가 부팅 완료할 때까지 기다림
      - name: Wait for emulator
        run: |
          adb wait-for-device
          adb shell 'while [[ -z $(getprop sys.boot_completed) ]]; do sleep 1; done;'

      # 8. Node + Appium 설치
      - name: Install Node & Appium
        run: |
          sudo apt-get install -y nodejs npm
          npm install -g appium@next
          appium driver install uiautomator2

      # 9. Appium 서버 백그라운드 실행
      - name: Start Appium server
        run: |
          nohup appium --base-path /wd/hub > appium.log 2>&1 &

      # 10. Gradle 권한 부여
      - name: Gradle permission
        run: chmod +x gradlew

      # 11. Gradle 테스트 실행
      - name: Run tests
        run: ./gradlew clean test --stacktrace
